@using System.Configuration
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        captcha();
    });


    function captcha() {
        Recaptcha.create("@(ConfigurationManager.AppSettings["recaptchaPublicKey"])", "captcha", { theme: "red", callback: Recaptcha.focus_response_field });
    }
</script>

<div id="target">
    @Html.Partial("Form")
</div>


